In [1]:
import pandas as pd
import numpy as np

In [2]:
covid = pd.read_csv('dados/SUS/COVIDBR_2023_17jan2023.csv', sep=';')

In [3]:
covid

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-01,1,210147125.0,36331281,0,693853,0,35006153.0,631275.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-02,1,210147125.0,36362366,31085,693981,128,35081933.0,586452.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-03,1,210147125.0,36390423,28057,694192,211,35147500.0,548731.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-04,1,210147125.0,36423138,32715,694411,219,35196324.0,532403.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-05,1,210147125.0,36450812,27674,694569,158,35225196.0,531047.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95518,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-01-13,2,3015268.0,892073,290,11838,0,NaN,NaN,1.0
95519,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-01-14,2,3015268.0,892073,0,11838,0,NaN,NaN,1.0
95520,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-01-15,3,3015268.0,892073,0,11838,0,NaN,NaN,1.0
95521,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-01-16,3,3015268.0,892440,367,11838,0,NaN,NaN,1.0
95522,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-01-17,3,3015268.0,892672,232,11838,0,NaN,NaN,1.0

In [4]:
covid[(covid.estado.isna()) | (covid.municipio.isna())]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-01,1,210147125.0,36331281,0,693853,0,35006153.0,631275.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-02,1,210147125.0,36362366,31085,693981,128,35081933.0,586452.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-03,1,210147125.0,36390423,28057,694192,211,35147500.0,548731.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-04,1,210147125.0,36423138,32715,694411,219,35196324.0,532403.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-05,1,210147125.0,36450812,27674,694569,158,35225196.0,531047.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91319,Centro-Oeste,GO,NaN,52,520000.0,NaN,NaN,2023-01-13,2,NaN,0,0,0,0,NaN,NaN,NaN
91320,Centro-Oeste,GO,NaN,52,520000.0,NaN,NaN,2023-01-14,2,NaN,0,0,0,0,NaN,NaN,NaN
91321,Centro-Oeste,GO,NaN,52,520000.0,NaN,NaN,2023-01-15,3,NaN,0,0,0,0,NaN,NaN,NaN
91322,Centro-Oeste,GO,NaN,52,520000.0,NaN,NaN,2023-01-16,3,NaN,0,0,0,0,NaN,NaN,NaN
91323,Centro-Oeste,GO,NaN,52,520000.0,NaN,NaN,2023-01-17,3,NaN,0,0,0,0,NaN,NaN,NaN

In [5]:
covid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [6]:
covid = covid.drop(columns=['coduf', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'semanaEpi',
       'casosNovos', 'obitosNovos', 'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana']
       )

In [7]:
covid_municipios = covid[~((covid.estado.isna()) | (covid.municipio.isna()))]
covid_municipios = covid_municipios[covid_municipios.data =='2023-01-17']
covid_municipios.columns = ['regiao', 'estado', 'municipio_0', 'data', 'populacao', 'casosAcumulado', 'obitosAcumulado']
covid_municipios.populacao = covid_municipios.populacao.astype(int)
covid_municipios.reset_index(inplace=True)
covid_municipios = covid_municipios.drop(columns = ['index'])

In [8]:
for i in range(len(covid_municipios.municipio_0)):
    covid_municipios.municipio_0[i] = covid_municipios.municipio_0[i].upper()

C:\Users\T-GAMER\AppData\Local\Temp\ipykernel_103796\2818554903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_municipios.municipio_0[i] = covid_municipios.municipio_0[i].upper()

In [9]:
covid_municipios = covid_municipios.drop(columns=['data'])
covid_municipios.describe(include='all')

,regiao,estado,municipio_0,populacao,casosAcumulado,obitosAcumulado
count,5570,5570,5570,5.570000e+03,5.570000e+03,5570.000000
unique,5,27,5297,NaN,NaN,NaN
top,Nordeste,MG,BOM JESUS,NaN,NaN,NaN
freq,1794,853,5,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.772839e+04,6.569860e+03,124.627469
std,NaN,NaN,NaN,2.214581e+05,3.265077e+04,913.327336
min,NaN,NaN,NaN,7.810000e+02,1.600000e+01,0.000000
25%,NaN,NaN,NaN,5.446500e+03,8.280000e+02,11.000000
50%,NaN,NaN,NaN,1.163100e+04,1.706500e+03,25.000000
75%,NaN,NaN,NaN,2.549050e+04,4.130500e+03,62.000000
max,NaN,NaN,NaN,1.225202e+07,1.289415e+06,44369.000000

In [10]:
import unicodedata

In [11]:
for i in range(len(covid_municipios.municipio_0)):
    covid_municipios.municipio_0[i] = ''.join(ch for ch in unicodedata.normalize('NFKD', covid_municipios.municipio_0[i]) 
        if not unicodedata.combining(ch))

covid_municipios

C:\Users\T-GAMER\AppData\Local\Temp\ipykernel_103796\3157926662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_municipios.municipio_0[i] = ''.join(ch for ch in unicodedata.normalize('NFKD', covid_municipios.municipio_0[i])

,regiao,estado,municipio_0,populacao,casosAcumulado,obitosAcumulado
0,Norte,RO,ALTA FLORESTA D'OESTE,22945,9140,84
1,Norte,RO,ARIQUEMES,107863,36496,564
2,Norte,RO,CABIXI,5312,1908,23
3,Norte,RO,CACOAL,85359,31267,355
4,Norte,RO,CEREJEIRAS,16323,6555,74
...,...,...,...,...,...,...
5565,Centro-Oeste,GO,VIANOPOLIS,13863,4013,46
5566,Centro-Oeste,GO,VICENTINOPOLIS,8743,1876,25
5567,Centro-Oeste,GO,VILA BOA,6171,727,4
5568,Centro-Oeste,GO,VILA PROPICIO,5821,1146,10
5569,Centro-Oeste,DF,BRASILIA,3015268,892672,11838

# Corrigir 
Na planilha COVID  mapear
 
corretor = list(['ASSU',
  'ALVORADA DO OESTE',
  'AREZ',
  'BOA SAUDE',
  'CAMACA',
  'DONA EUSEBIA',
  'ELDORADO DOS CARAJAS',
  'ESPIGAO DO OESTE',
  'GRACCHO CARDOSO',
  'GRAO-PARA',
  "OLHOS D'AGUA",
  'SANTA ISABEL DO PARA',
  'SAO LUIS DO PARAITINGA',
  'SAO THOME DAS LETRAS',
  'SEM PEIXE'
])

trocas = list(['ACU',
    'ALVORADA D'OESTE',
    'ARES',
    'JANUARIO CICCO',
    'CAMACAN',
    'DONA EUZEBIA',
    'ELDORADO DO CARAJAS',
    'ESPIGAO D'OESTE',
    'GRACHO CARDOSO',
    'GRAO PARA',
    'OLHOS-D'AGUA',
    'SANTA IZABEL DO PARA',
    'SAO LUIZ DO PARAITINGA',
    'SAO TOME DAS LETRAS',
    'SEM-PEIXE
])

In [12]:
corretor = list(['ASSU',
  'ALVORADA DO OESTE',
  'AREZ',
  'BOA SAUDE',
  'CAMACA',
  'DONA EUSEBIA',
  'ELDORADO DOS CARAJAS',
  'ESPIGAO DO OESTE',
  'GRACCHO CARDOSO',
  'GRAO-PARA',
  "OLHOS D'AGUA",
  'SANTA ISABEL DO PARA',
  'SAO LUIS DO PARAITINGA',
  'SAO THOME DAS LETRAS',
  'SEM PEIXE'
])

trocas = list(['ACU',
    "ALVORADA D'OESTE",
    'ARES',
    'JANUARIO CICCO',
    'CAMACAN',
    'DONA EUZEBIA',
    'ELDORADO DO CARAJAS',
    "ESPIGAO D'OESTE",
    'GRACHO CARDOSO',
    'GRAO PARA',
    "OLHOS-D'AGUA",
    'SANTA IZABEL DO PARA',
    'SAO LUIZ DO PARAITINGA',
    'SAO TOME DAS LETRAS',
    'SEM-PEIXE'
])

In [13]:
covid_municipios['municipio'] = covid_municipios['municipio_0']

In [14]:
for i in range(len(covid_municipios['municipio_0'])):
    if covid_municipios['municipio_0'][i] in trocas:
        for k in range(len(trocas)):
            if covid_municipios['municipio_0'][i] == trocas[k]:
               covid_municipios['municipio'][i] = corretor[k]
    else:
        covid_municipios['municipio'][i] = covid_municipios['municipio_0'][i]

C:\Users\T-GAMER\AppData\Local\Temp\ipykernel_103796\2702670536.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_municipios['municipio'][i] = covid_municipios['municipio_0'][i]
C:\Users\T-GAMER\AppData\Local\Temp\ipykernel_103796\2702670536.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_municipios['municipio'][i] = corretor[k]

In [15]:
covid_municipios = covid_municipios.drop(columns=['municipio_0'])
covid_municipios = covid_municipios[['regiao','estado','municipio','populacao','casosAcumulado','obitosAcumulado']]

In [16]:
covid_municipios = covid_municipios.sort_values(by='municipio')

In [17]:
covid_municipios.to_csv('arquivos/covid_municipios.csv', index=False)

In [18]:
regionalize = covid_municipios.groupby('estado').head(1)
df_regiao = regionalize.estado, regionalize.regiao
df_regiao = pd.DataFrame(df_regiao)
df_regiao = df_regiao.transpose()
df_regiao = df_regiao.reset_index()
df_regiao = df_regiao.drop(columns=['index'])
df_regiao

   estado        regiao
0      GO  Centro-Oeste
1      MG       Sudeste
2      PA         Norte
3      CE      Nordeste
4      BA      Nordeste
5      PR           Sul
6      SC           Sul
7      PE      Nordeste
8      TO         Norte
9      MA      Nordeste
10     RN      Nordeste
11     PI      Nordeste
12     RS           Sul
13     MT  Centro-Oeste
14     AC         Norte
15     SP       Sudeste
16     ES       Sudeste
17     AL      Nordeste
18     PB      Nordeste
19     MS  Centro-Oeste
20     RO         Norte
21     RR         Norte
22     AM         Norte
23     AP         Norte
24     SE      Nordeste
25     RJ       Sudeste
26     DF  Centro-Oeste